.navbar-brand{
    margin-bottom:7px;
}

h1{
    text-align:center;
    margin-bottom:2.5%
}

.mifflin{
    text-align:center;
    width:35%;
    margin-left:33%;
    margin-bottom:10vh;
}

.two-people{
    max-width:38%;
    border-style: solid;
    border-color:  gray;
    border-radius: 2% 0 0 2%;
    padding-bottom: 3%;
    padding-top: 3%
}

.useful-info{
    background-color: #0089cf;
    border-radius: 0 2% 2% 0
}

.collect{
    color:white;
    margin-top: 13vh;
    margin-right: 40vh;
    margin-bottom:10vh
}

.dunder-info{
    color:white;
    margin-left:5vh;
    text-align:left   
}

.schrute{
    text-align:center;
    margin-right:65vh;
    margin-left:65vh;
    margin-top:16vh;
    margin-bottom:10vh
}


.one-person{
    max-width:38%;
    padding-bottom: 3%;
    padding-top: 3%
}

.take-payments{
    height:49vh;
    padding-left:7vh
}

.paid-sooner{
    color:white;
    font-size:6vh;
    margin-top:12vh;
    margin-bottom:10vh
}

.explore{
    margin-top:8vh;
}

.tracking{
    text-align:center;
    margin-bottom:5vh
}

.dollar-sign{
    width:7vh;
    background-color:white;
    margin-top:3vh;
    margin-bottom:1.6vh;
    margin-left:2vh;
    margin-right:2vh;
    border-radius:4vh
}

.circle-head{
    width:7vh;
    background-color:white;
    margin-top:3.6vh;
    margin-bottom:1vh;
    margin-left:2vh;
    margin-right:2vh;
    border-radius:4vh
}

.rising-bars{
    width:7vh;
    background-color:white;
    margin-top:3vh;
    margin-bottom:1.1vh;
    margin-left:2vh;
    margin-right:2vh;
}

.opposite-arrows{
    width:7vh;
    background-color:white;
    margin-top:4.2vh;
    margin-bottom:2vh;
    margin-left:2vh;
    margin-right:2vh;
}

.footer-container{
    max-width:100%;
    margin-top:15vh;
    margin-right:20vh
}

.grid{
    display: flex;
    justify-content: center;
    padding: 100px;
  }

  .box, .box2, .box3{
    background-color: #0089cf;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding: 30px;
    margin: 50px;
  }

.card{
    border-color: #0089cf;
    border-radius: 50px;
    padding: 10px;
    width: 2000px;
    height: 400px;
    margin: auto;
    }

.card-img{
    border-radius: 40px;
    width: 430px;
    height: 380px;
    padding: 1px;
}

.more{
    background-color: #0089cf;
    color: white;
    border-radius: 10px;
}